.c{
    display: flex;

}
/* .c-bg{
    width: 20px;
    height: 100%;
    position: absolute;
} */

/* .c-wrapper{
    
    padding: 10px;
    position: flex;
    background-color: rgb(238, 255, 80);
    height: 100vh;
    z-index: 999;
  
} */

.c-left{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  
}
.imgbkg{
   position: absolute;
   z-index: -1;
   margin-top: 105vh;
   margin-left: -55vw;
   width: 50vw;
   animation: pulse;
    animation-duration: 2s;
    
}

.c-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20vh;
text-align: center;
    font-size: 50px;
    color: rgb(240, 128, 0);
    font-weight: bold;
   
    text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.57);
  
}
.c-sub{
    width: 50vw;
    text-align: center;
    margin-top: 5vh;
   
}

.c-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    
}

.c-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 5vh;
    margin-right: 30vw;

   
}


.c-info-item{
  display: flex;
  align-items: center ;
  margin-top: 50px;
  margin-left: 150px;
  font-weight: 300;  
  
 
}

.c-icon{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    object-fit: cover;
}
.c-icon:hover{
    cursor: pointer;
    transform: scaleX(1.2) scaleY(1.2);
}




.containerForm{
    background-color: transparent;
    border-radius: 10px;
    width: 50vw;
    margin-left: 40vw;
    margin-top: -52vh;
    padding: 20px;
    box-shadow: 6px 7px 8px -6px rgba(0, 0, 0, 0.75);
    background: rgba(255, 255, 255, 0.527);
    
}
.c-form{
    /* width: 50vw;
    margin-left: 30vw;
    margin-top: -52vh; */
    

}

input{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50px;
    border:none;
    border-radius: 5px;
    border-bottom: 1px solid black;
    margin: 10px 0px;
    font-size: 14px;
    background-color: transparent;
    padding-left: 10px;
}

textarea{
    width: 100%;
    margin: 10px 0px;
    font-size: 14px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: transparent;
}

.buttonSend{
    border: none;
    padding: 15px;
    background-color: tomato;
    font-weight: 500;
    cursor: pointer;
    color: white;
    font-weight: bold;
    border-radius: 10px;
}
.buttonSend:hover{
    background-color: white;
    color: white;
    background-color: rgb(245, 44, 8);
  }



  @media screen and  (max-width: 480px){
    .c{
        flex-direction: column;
    }
.c-wrapper{
    background-color: transparent;
}
    .imgbkg{
        display: none;
    }
    .c-left{
        margin-top: 0px;
    }
    .c-title{
        font-size: 40px;
        margin-top: 15vh;
        text-align: center;
    
    }
    .c-sub{
        margin-top: -2vh;
        
    }
    .c-right{
        margin-top: 5vh;
    }
    .c-info{
        flex-direction: row;
        margin-top: -2vh;
        margin-left: 25vw;
    }
    .c-info-item{
        margin-top: 0px;
        margin-left: 0px;
    }
    .containerForm{
     width: 95vw;
        margin-left: -2vw;
        margin-top: 5vh;
     box-shadow: 10px 10px 10px -6px rgba(0, 0, 0, 0.75);
     background: rgba(255, 255, 255, 0.527);
       
    }
  
    input{
        width: 80vw;
        
    }
    textarea{
       height: 20vh;
       width: 85vw;
    }
    .buttonSend{
        width: 85vw;
    }

  }