
#education{
    padding: 50px ;
}
.educationExperienceTitle{
    display: flex;
    flex-direction: column;
align-items: center;
justify-content: center;
margin-top: 10vh;
margin-bottom: 3rem;
font-weight: bold;
color:var(--green-solid);


}
.radioButtons{
    width: 100%;
    
}
.radioButtons >fieldset{
    display: flex;
    align-items:center ;
    justify-content: center;
}
.radioButtons >fieldset >div > label>.MuiRadio-root{
    color:var(--green-solid)
}

.radioButtons >fieldset >div > label>.MuiRadio-root:hover{
    background-color:#dde3b35b
}
.vertical-timeline::before {
    background: var(--bg-color);
}


@media screen and  (max-width: 480px){
    #education {
        padding: 1rem;
    }
    .educationExperienceTitle{
        margin: 10px 0;
        padding: 0 20px;
        font-size: 25px;
        text-align: center;
    
    
    }
    .radioButtons{
        width: auto;
        margin-left: 7vw;
    }
}