.navbar{
  display: flex;
  justify-content: space-around;
  position: fixed;
  font-size: 18px;
  padding: 20px;
  width: 40vw;
  z-index: 999;
  margin-top: 3vh;
}
.buttonLang{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  padding: 20px;
  width: 5vw;
  height: 5vh;
  left: 90vw;
  position: fixed;
  border: none;
  z-index: 999;
  background-color: rgba(255, 99, 71, 0.021);
  color: white;
  font-weight: bold;
  border-radius: 10px;
  outline: none;
}

.buttonLang:hover{
  background-color: rgba(255, 255, 255, 0.089);
  box-shadow: 3px 3px 5px rgba(248, 246, 245, 0.034);
}

.flat{
  width: 5vw;
  height: 5vh;
}

.menu-items{
  display: flex;
  list-style: none;
  text-decoration: none;
}



.menu-items, li{
margin: 10px;

text-decoration: none;
}

.menu-items, li, a{
  text-decoration: none;
  color: tomato;
}
.menu-items, li:hover, a:hover{
  color: rgb(201, 46, 18);
  text-decoration: none;
  transform: scaleX(1.1) scaleY(1.1);

}

.btn-menu-mobile{
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

ul.show{
  top: 65px
}

@media screen and(max-width: 450px) {
  .btn-menu-mobile{
    display: inline-flex;
  }
}
