.navbar{
  display: flex;
  justify-content: space-around;
  position: fixed;
  font-size: 18px;
  padding: 20px;
  width: 40vw;
  z-index: 999;
  margin-top: 3vh;
}
.buttonLang{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
  padding: 20px;
  width: 5vw;
  height: 5vh;
  left: 90vw;
  position: fixed;
  border: none;
  z-index: 999;
  background-color: tomato;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  outline: none;
}

.buttonLang:hover{
  background-color: white;
  color: tomato;
  box-shadow: 3px 3px 5px rgb(248, 246, 245);
}
.i-home, .i-about, .i-portfolio, .i-contact{
margin: 10px;
color: tomato;
text-decoration: none;
}

.i-home:hover{
  color: rgb(201, 46, 18);
  text-decoration: none;
  transform: scaleX(1.1) scaleY(1.1);
}

.i-about:hover{
  color: rgb(201, 46, 18);
  text-decoration: none;
  transform: scaleX(1.1) scaleY(1.1);
}

.i-portfolio:hover{
  color: rgb(201, 46, 18);
  text-decoration: none;
  transform: scaleX(1.1) scaleY(1.1);
}

.i-contact:hover{
  color: rgb(201, 46, 18);
  text-decoration: none;
  transform: scaleX(1.1) scaleY(1.1);
}
