

.container{
    display: flex;
    width: 100%;
    max-width: 1430px;
    height: 100%;
    margin: auto 0 0 auto;
    padding-right: 0;
    padding-top: 0;
 
}
.section-left{
display: flex;
flex-direction: column;
/* animation: fadeIn;
animation-duration: 1s; */

}

.introduction{
    padding: 150px 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}


.i-intro{
    font-size: 30px;
    font-weight: 300;

}

.i-name{
    font-size: 60px;
    font-weight: bold;
    color: var(--black);
    text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.57);
  
}
.i-mobile{
    display: none;
}
.i-title{
    height: 60px;
    overflow: hidden;
}

/*ANIMACION A LOS ITEM*/
.i-title-wrapper{
   height: 100%;
   animation: move 5s ease-in-out infinite alternate;

}

@keyframes move {
   25%{
       transform: translateY(-50px);
   }
   50%{
       transform: translateY(-100px);
   }
 100%{
       transform: translateY(-150px);
   }
   

}
.i-title-item{
    height: 60px;
    font-size: 30px;
    font-weight: bold;
    color: var(--light-brown);
    display: flex;
    align-items: center;
}

.i-social{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-content: space-between;
    width: 50%;
}
.wp-icon{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    /* filter: opacity(25%); */
    transition: all 500ms ease-out;
    background-image: url('../../assets/Contact/whatsapp.png');
}
.wp-icon:hover{
    filter: opacity(100%);
    transform: scale(1.1);
}
.gmail-icon{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    /* filter: opacity(25%); */
    transition: all 500ms ease-out;
    background-image: url('../../assets/Contact/gmail.png');
}
.gmail-icon:hover{
    filter: opacity(100%);
    transform: scale(1.1);
}
.git-icon{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    /* filter: opacity(25%); */
    transition: all 500ms ease-out;
    background-image: url('../../assets/Contact/github.png');
}
.git-icon:hover{
    filter: opacity(100%);
    transform: scale(1.1);
}
.linkedin-icon{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-size: contain;
    /* filter: opacity(25%); */
    transition: all 500ms ease-out;
    background-image: url('../../assets/Contact/linkedin.png');
}
.linkedin-icon:hover{
    filter: opacity(100%);
    transform: scale(1.1);
}
/*---------------------------------------------*/

.section-right{
    width: 100%;
    height: -moz-fit-content;
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}



.i-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: fadeInRight;
    animation-duration: 2s;

}

    


.i-bg{
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    background-color: var(--bg-color);
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    animation: fadeInRight;
    animation-duration: 2s;
 
}


.a{
    display: flex;
    align-items: center;
    width: 50%;
}

/*---------------------------------------------------*/
.presentation{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}

.title{
    font-size: 35px;
    text-align: start;
    font-weight: bold;
    color: var(--green-solid);
    margin-bottom: 3rem;
    
}
.gretting{
    color: var(--black);
    opacity: 0.5;
    font-size: 18px;
}

.purposes-section{
    font-size: 20px;
    padding-right:20px ;
}
p{
    font-size: 18px;
}
/*----------------------CARD SECTION----------------*/
.cards-section{

display: flex;
flex-direction: row;
justify-content: space-between;

    
}
.card{
    position: relative;
    width: 220px;
    height: 180px;
    border-radius: 10px;
    border-color: transparent;
    margin: 0 10px;
}
.card .face{
position: absolute;
width: 100%;
height: 100%;
backface-visibility: hidden;
border-radius: 10px;
border-color: transparent;
overflow: hidden;
transition: 1s;

}
.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 8px 16px rgba(57,57,57,.2);
    background: var(--btn);
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .front h3{
    position: absolute;
    align-items: center;
    color: var(--white);
    text-align: center;
    padding: 15px;
    font-size: 20px;
}

.card .back{
    transform: perspective(600px) rotateY(180deg);
    box-shadow: 0 8px 16px rgba(57,57,57,.2);
    background: var(--btn);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.card .back p{
    position: absolute;
    color: var(--white);
    text-align: center;
    padding: 10px;
    margin: 0;
    font-size: 14px;
}

.card:hover .front{
transform: perspective(600px)  rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px)  rotateY(360deg);
    }


/*----------------------BTN RESUME----------------*/
.resume{
    margin: 20px;
  display: flex;
    align-items: center;
    justify-content: center;
}


.button {
    --width: 250px;
    --height: 50px;
    width: var(--width);
    height: var(--height);
    background: var(--btn);
    position: relative;
    text-align: center;
    border-radius: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: solid;
    -webkit-box-shadow: 4px 8px 19px -3px #eec170;
    box-shadow: 0px 0px 20px -3px#eec170;
   
  }
  
  .button::before {
    position: absolute;
    content: attr(data-tooltip);
    background-color: var(--light-brown);
    font-size: 0.9rem;
    color: #111;
  }
  
  .button::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 10px solid transparent;
    /* border-top-color: var(--button-color); */
  }
  
  .button::after,.button::before {
    opacity: 0;
    visibility: hidden;
    transition: all 1s;
  }
  
  .text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
  }
  
  .button-wrapper,.text,.icon {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    color: var(--white);
    font-weight: bold;
  }
  
  .text {
    top: 0
  }
  .icon{
    color: var(--btn) important!;
  }
  .text,.icon {
    transition: top 1s;
  }
  
  .icon {
    color: #fff;
    top: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button:hover {
    background: var(--btn-hover);
  }
  
  .button:hover .text {
    top: -100%;
  }
  
  .button:hover .icon {
    top: 0;
  }

.section{
    position: relative;
    background-color: var(--white);
}

@media screen and  (max-width: 880px){
    .container{
     padding: 0;
    }
     
     .introduction{
         padding: 0;
         justify-content: flex-start;
         margin-top: 100px;
         
     }
     .i-bg{
         width: 100%;
     }
     .i-mobile{
         display: flex;
         flex-direction: row;
         align-items: center;
         justify-content: center;
     }
     .i-title{
         display: none;
     }
     .i-social{
         display: none;
     }
     .section-right{
         bottom: 0px;
         display: flex;
         position: absolute;
         align-items: center;
         justify-content: center;
         top: auto;
         width: auto;
         height: auto;
     }
     .i-bg{
background-color: transparent;
     }
     .presentation{
         height: auto;
    
     }
 
     .title{
         margin: 10px 0;
          padding: 0 20px;
          font-size: 25px;
         text-align: center;
     }

     .cards-section{
        flex-direction: row;
           
        }
    .card{
        margin: 10px;
    }
     .purposes-section{
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 16px;
         padding-left: 0;
         padding: 20px;
     }
     .purposes-section p{
         text-align: center;
     }
     .number-exp{
         width: 90px;
         height: 90px;
     }
    .descrip-exp, .number-exp{
     font-size: 14px;
    }
    .button {
        --width: 300px;
        --height: 50px;
        box-shadow: none 
      }

    .resume{
     margin: 30px 0;
    }
    .button-wrapper, .text{
     font-size: 18px;
    }
   .gretting {
    color: var(--black);
    opacity: 0.5;
    font-size: 18px;
    text-align: center;
}
 }
@media screen and  (max-width: 768px){
    .section-left{ 
        
        height: 50%;
        }
        
        .a-card-bg{
            position: absolute;
            top: -40px;
            left: 0px;
            
        }
        .a-img{
            height: 80vh;
            object-fit: cover;
            animation: fadeIn;
            animation-duration: 8s;
        }
        p{
            font-size: 16px;
        }
        .gretting{
        
            font-size: 14px;
        }
        
}





@media screen and  (max-width: 480px){
    .container{
        flex-direction: column;
      
    }
    .introduction{
        align-items: center;
    }
    .i-intro{
        margin-top: 3vh;
        font-size: 30px;
    }
    .i-intro, .i-name, .i-desc{
        text-align: center;
       
    }
    .i-name{
        font-size: 32px;
    }
    .i-mobile{
        font-size: 18px;
    }
    .i-left{
        margin-top: 10vh;
        height: 50vh;
    }
    .section-right{
        width: 100%;
    }
    .i-bg{
        background-color: transparent;
    }
   .i-img{
       margin-top: -2vh;
       animation: slideInUp;
       animation-duration: 2s;
       position: relative;
       max-width: 100%; 
       width: 100%;
       height: auto; 
       display: block; 
       margin: 0 auto; 
   }

   .a-left{
    display: none;
}
.card{
    width: 150px;
    height: 150px;
    
}
.card .front h3{
    font-size: 18px;
}
.card .back p {
    font-size: 11px;
}

.a-title{
    /* margin-top: 4vh; */
   
    text-align: center;
}
.a-sub{
  
    text-align: center;
}
.imgArg{
    width: 6vw;
    height: 3vh;
}
.a-desc{
    text-align: center;
}
.a-footer{
    margin-top: 12vh;
    text-align: center;
}
.resume{
    width: 100%;
    /* margin-top: -5vh; */
}
.btn-get-resume{
    margin-bottom: -10vh;
    width: 50vw;
    height: 10vh;
    text-decoration: none;
    
}
.a-down{
    margin-top: -5vh;
}
}

.presentation[id]{
    scroll-margin-top: 80px;
    scroll-behavior:smooth;
   }



















