.footer {
  position: relative;
  width: 100%;
  background: linear-gradient(180deg, var(--light-green) 0%, #6b7240 100%);
  min-height: 350px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 50;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
  gap: 20px;
  z-index: 60;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 3rem;
  color: #ffffff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.9));
}
.css-i4bv87-MuiSvgIcon-root{
width: 5rem !important;
    height: 3rem !important;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #ffffff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 1;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #ffffff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 500;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
  position: relative;
  z-index: 60;
}

@media  screen and (max-width:768px) {
  .menu__link {
  font-size: 1rem;
}
  .css-i4bv87-MuiSvgIcon-root{
width: 3rem !important;
    height: 2rem !important;
}
}
@media screen and  (max-width: 480px){
 .footer{
  padding: 20px 20px;
 }
.css-i4bv87-MuiSvgIcon-root{
width: 3rem !important;
    height: 2rem !important;
}
.footer p {
  text-align: center;
}
.social-icon{
  gap: 10px;
}
.menu {
  gap: 10px;
  justify-content: center;
}
.social-icon__link{
  font-size: 2rem;
}
}