.a{
    height: 100vh;
    display: flex;
    align-items: center;
    
}
/*IMAGEN*/
.a-left{
flex: 1;
display: flex;
align-items: center;
justify-content: center;
position: relative;

height: 100%;
}


.a-card{
    width: 60%;
    height: 70vh;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}
.a-card-bg{
    position: absolute;
    top: 50px;
    left: 50px;
    
}

.a-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: fadeIn;
    animation-duration: 8s;
}


/*---------------------------------------------------*/
.a-right{
flex: 1;
margin-top: 20vh;
}
.a-seccionImg{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.a-imgTitle{
    width: 120px;
    height: 120px;
    border-radius: 20px;
}

.a-title{
    font-weight: bold;
    color:tomato;
    text-shadow: -2px 3px 3px rgba(0, 0, 0, 0.57);
}

.a-sub{
    margin: 20px 0px;
}
.imgArg{
    width: 2vw;
    height: 4vh;
}

.a-desc{
    font-weight: 300;
}
.a-footer{
    margin-top: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
}
/*----------------------BTN RESUME----------------*/
.resume{
  display: flex;
    align-items: center;
    justify-content: center;
}

.btn-get-resume{
    border-radius: 10px;
    background-color: #e76f51;
    border: none;
    width: 10vw;
    height: 8vh;
    font-weight: bold;
    color: white;
}
.btn-get-resume:hover{
    background-color: white;
    transition: 1s;
    color:#e76f51 ;
    box-shadow: 3px 3px 10px #e76f51;
}
.a-down{
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.a-Skill{
    margin-top: 5vh;
    color: rgb(102, 28, 15);
    font-weight: bold;
}
/*----------------SKILLS------------------------------------*/
.c-skills{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    align-items: center;
}

@media screen and  (max-width: 480px){
  
    .a-left{
        display: none;
    }
    .a-right{
        margin-top: 10vh;
    }
    .a-title{
        /* margin-top: 4vh; */
       
        text-align: center;
    }
    .a-sub{
      
        text-align: center;
    }
    .imgArg{
        width: 6vw;
        height: 3vh;
    }
    .a-desc{
        text-align: center;
    }
    .a-footer{
        margin-top: 12vh;
        text-align: center;
    }
    .resume{
        width: 100%;
        /* margin-top: -5vh; */
    }
    .btn-get-resume{
        margin-bottom: -10vh;
        width: 50vw;
        height: 10vh;
    }
    .a-down{
        margin-top: -5vh;
    }
}