.containerSkill{
    width: 100vw;
    height: 100vh;
    animation: fadeIn;
    animation-duration: 8s;
}

.titleSoft{
    margin-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(17, 16, 16);
    text-decoration: underline solid rgb(5, 5, 5);
    /* text-shadow: -2px 3px 5px rgba(39, 28, 27, 0.57); */
}
.containerSoft{
    display: flex;
  flex-wrap: wrap;
  justify-content: center ;
  gap: 2px;
  max-width: 800px;
  margin: auto;
  
}

.itemSkill{
    padding: 5px;
    border: 1px solid #ff5400;
    margin: 10px;
    border-radius: 10px;
    background-color: coral;
    color: white;
}

.itemSkill:hover{
    background-color: #ff5400;
    color: white;
    box-shadow: 3px 3px 10px #ff5400;
}

.itemImg{
    width: 70px;
    height: 70px;
    margin: 20px;
    object-fit: cover;
    bottom: 10vh;
}

.itemImg:hover{
    transform: scaleX(1.1) scaleY(1.1);

}