.style-box
    {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: var(--white);
        width: 650px;
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: auto;
        padding: 20px;
        border-radius: 10px;
       
      };

.css-1wnsr1i {
    border-radius: 20px;
    width: 530px;
    height: 500px;
}
.css-79ws1d-MuiModal-root{
    z-index: 99999999 !important;
    overflow: scroll !important;
}
.closeButton{
    position: absolute;
    right: 12px;
    top: 10px;
    cursor: pointer;
}
.m-sub{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}
.m-box{
display: flex;
align-items: flex-start;
justify-content: center;
flex-direction: column;

}

.m-container{
    display: flex;
    flex-direction: column;
    width: 100%
}
.m-title{
    font-size: 30px;
    color: var(--dark-green);
}
.m-text{
    font-size: 16px;
    width: 100%;
    padding: 5px;
    text-align: center;
    color: var(--white);
    background-color: var(--green-solid);
}

.m-icons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
}
.skill-icon{
    width: 50px;
    height: 50px;
    margin: 5px 10px;

}
.m-element{
    width: auto;
    display: flex;
    margin: 5px 15px;
    flex-direction: column;
    align-items: center;
}

.m-name{
    font-size: 12px;
}

.m-buttons{
    display: flex;
    align-items: center;
    margin: 10px;
    justify-content: center;

}
.m-buttons button{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    cursor: pointer;
    width: 110px;
    height: 100%;
    border-radius: 10px;
    margin: 10px;
    padding: 12px;
    background-color: var(--green-solid);
    
}
.m-buttons button:hover{
    background-color: var(--dark-green);
}
.m-buttons a{
    background-color: transparent;
    color:var(--white);
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 768px) {
    .style-box
    {
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 10px;
        border-color: transparent;
        background-color: var(--white);
        width: 320px;
        height: 650px;
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow: auto;
        padding: 50px 20px
       
      };

      .m-title{
        font-size: 20px;
    }
    .m-text{
        font-size: 18px;
       
    }
}