.href{
    text-decoration: none;
    color: white;
}
.href:hover{
    text-decoration: none;
    color: rgba(245, 243, 243, 0.979);
}

.containerButtons{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly ; 
    bottom: 10vh;
}

.buttonHref{
    border: none;
    padding: 15px;
    background-color: tomato;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
}
.buttonHref:hover{
    background-color: rgb(245, 44, 8);
}